@tailwind base;
@tailwind components;
@tailwind utilities;

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: clamp(21px, 2vw, 24px);
  font-weight: 700;
}

h2 {
  font-size: clamp(15px, 2vw, 18px);
  font-weight: 700;
}

h3 {
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 600;
}

p {
  font-size: clamp(11px, 2vw, 14px);
  font-weight: 700;
}

.ant-image {
  width: 100% !important;
}

.allTableCommonStyles .ant-table-wrapper .ant-table-thead > tr > th {
  background-color: #e4e7f0 !important;
  color: #6b7a99 !important;
  font-size: 16px !important;
  padding: 8px 16px !important;
  font-weight: bold !important;
}

.allTableCommonStyles .ant-table-wrapper .ant-table-tbody > tr > td {
  padding: 8px;
  padding-left: 14px;
}

.main-container {
    width: 100%;
   
    overflow: hidden;
  }
  .container {
    max-width: 1280px !important;
    margin: 0;
    
  }

/* Modal Custom Styling */
.ant-modal-header {
  background-color: #3b3b3b;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.ant-modal-footer {
  background-color: #f1f1f1;
}

.ant-btn-primary {
  background-color: #28a745;
  color: white;
  font-weight: bold;
}

.ant-btn-primary:hover {
  background-color: #218838;
}

.ant-modal-body {
  padding: 20px;
}

.ant-input,
.ant-select,
.ant-radio-group {
  margin-bottom: 12px;
}

.ant-radio-wrapper {
  font-weight: 500;
}

/* Event Modal Content */
.ant-descriptions-item-label {
  font-weight: bold;
  color: #333;
}

.ant-descriptions-item-content {
  color: #555;
}
/* Animation for loading  */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-circle {
  width: 100%;
  height: 100%;
  border: 6px solid #3498db;
  border-top: 6px solid transparent;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .weight-loss-container {
    min-width: 100%;
  }
}
@media (max-width: 600px) {
  .weightchart{
    width: 100%;
  }
}
@media (max-width: 700px) {
  .gender{
    width: 100%;
  }
}
@media (max-width: 620px) {
  .dailyactivity{
    width: 100%;
  }
}
@media (max-width: 860px) {
  .profile{
    width: 100%;
  }
  .profile-text{
    align-items: self-start;
  }
}

@media (max-width: 600px) {
  .familiar{
    width: 100%;
  }
}
@media (max-width: 620px) {
  .calculatingplans{
    width: 500px;
    height: 400px;
    padding-left: 20px;
  }
  .calculatingplans-text{
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .eatinghabbits{
    width: 100%;
  }
}

@media (max-width: 600px) {
  .cookingskills{
    width: 100%;
  }
}
@media (max-width: 600px) {
  .waterintake{
    width: 100%;
  }
  .hardchoice{
    width: 100%;
  }
   .mealseachday{
    width: 100%;
  }
   .qualityofyoursleep{
    width: 100%;
  }
}